.container {
  width: min(100%, 1400px);
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
}

textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.2rem;
}

textarea::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.message-toast {
  position: absolute;
  top: 5%;
  right: -20%;
  background: #3fbd632d;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.5s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.message-toast > span {
  font-size: 1.5rem;
  color: green;
  line-height: 1rem;
}

.message-toast.active {
  right: 2%;
}
.note-locked , .overlay{
  display: none;
}
.note-locked.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  background: rgba(255, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1;
}

.note-locked.active > p {
  font-size: 2rem;
  color: white;
  line-height: 0.2rem;
}

.note-locked.active > h1 {
  font-weight: normal;
  color: white;
}

.overlay.active {
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
}
